@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.progressBar {
    display: flex;
}

.step {
    border: 3px solid lightgray;
    border-radius: 50%;
    padding:3px 8px;
    margin-bottom: 30px;
    
}

.step.active {
    border: 3px solid rgb(53, 135, 228);
}

.connector.active {
    background-color: rgb(53, 135, 228);
}

.connector {
   margin-top: 14px;
    width: 70px;
    height: 3px;
    background-color: lightgray;
}

.prev,
.next {
    padding: 5px 25px;
    background-color: rgb(53, 135, 228);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.prev {
    margin-right: 10px;
    background-color: lightgray;
}

.prev.active {
    background-color: rgb(53, 135, 228);
}